/*
  font-family: montserrat, sans-serif; 100it/800

  font-family: open-sans, sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  padding: 20px;
  background: #000;
}

/* for header */

.site-header {
  border: solid 2px #fff;
  background-image: url("../img/code-screen-background.jpg");
  box-shadow: inset 0 0 50px 100px #000000b3;
  padding: 23px 15px 35px 30px;
  margin: 0 0 20px 0;
}

.site-header h1 {
  font-family: montserrat, sans-serif;
  color: #fff;
  font-weight: 800;
  margin: 27px 0 19px;
  font-size: 26px;
}

.site-header span {
  font-family: montserrat, sans-serif;
  font-weight: 100;
  font-style: italic;
  color: #2afca6;
}

.site-header p {
  font-family: open-sans, sans-serif;
  color: #c6c6c5;
}

/* for main */

.card {
  background: #2afca6;
  color: #0b583e;
  padding: 30px;
  margin: 0 0 20px 0;
}

.card h2,
article h1 {
  font-family: montserrat, sans-serif;
  font-size: 16px;
  margin: 0 0 20px;
}

.card p,
article p {
  font-family: open-sans, sans-serif;
}

article {
  background-color: #fff;
  padding: 30px;
}

.post-info {
  color: #c6c6c5;
  font-size: 12px;
}

.post-date {
  color: #000;
}

.post-author {
  color: #2afca6;
}