/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  padding: 20px;
  background: #000;
}

/* for header */

header {
  border: solid 2px #fff;
  background-image: src("../img/code-screen-backgrounds.jpg");
  padding: 30px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 700;
}

header span {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: italic;
  color: lightgreen;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: lightgray;
}