/*
  font-family: montserrat, sans-serif;
  font-weight: 100;
  font-style: italic;
  font-family: montserrat, sans-serif;
  font-weight: 800;
  font-style: normal;

  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  padding: 20px;
  background: #000;
}

/* for header */

header {
  border: solid 2px #fff;
  background-image: url("../img/code-screen-background.jpg");
  padding: 30px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 800;
}

header span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-style: italic;
  color: #2afca6;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: lightgray;
}